/* @import '../../node_modules/bootstrap/scss/bootstrap.scss'; */ //whole bootstrap

@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/grid";

$bg-color: #4a4944;

body {
    background-color: $bg-color;
    height: 100vh;
}
div {
    height: inherit;
}
.img-fluid {
    max-height: 600px;
}
h1 {
    color: #fff;
    text-align: center;
    margin-bottom: 2.5rem;
}

@include media-breakpoint-up(md) {
    .img-fluid {
        max-width: 30%;
        height: auto;
    }
}